@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

:root {
  --darkbl: #07043b;
  --blue: #2f65f8;
  --gray: #615f7e;
  --jade: #3da08f;
  --bg: #f8f8fe;
  --sidebg: #575988;
  --lighttext: #c0c0c0;
  --white: #ffffff;
}

body {
  background: var(--bg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 98px 24px;
}

h3 {
  font-size: 12px;
  color: var(--darkbl);
  font-weight: 400;
  font-family: Raleway;
}

.top div {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

h1 {
  font-size: 24px;
  color: var(--darkbl);
  font-weight: 700;
  line-height: 36px;
  margin: 40px 27px 24px 28px;
  text-align: center;
}

p {
  font-size: 14px;
  color: var(--darkbl);
  font-weight: 400;
  line-height: 21px;
  margin: 0px 43px 32px 36px;
  text-align: center;
}

.enter {
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  width: 304px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 400;
  font-family: "Raleway";
  padding-left: 21px;
  margin-bottom: 16px;
}

button {
  background-color: var(--blue);
  color: var(--white);
  width: 304px;
  height: 40px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  font-weight: 700;
  font-family: "Raleway";
  border: none;
  margin-bottom: 183px;
}

h2 {
  font-size: 16px;
  color: var(--darkbl);
  font-weight: 700;
  text-align: center;
  margin-top: 87px;
  font-family: "Raleway";
}

.never {
  font-size: 14px;
  color: var(--gray);
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  margin: 0px 35px 0px 20px;
}

.mt {
  margin-top: 24px;
}

.mtlow {
  margin-top: 16px;
}

.combine {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 12px;
  color: var(--jade);
  font-weight: 400;
}

.combine div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--jade);
  border: none;
  box-shadow: 0px 0px 2px rgba(61, 160, 143, 0.793507);
  margin-left: 9px;
  background-image: url(./resorces/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.underline {
  width: 130px;
  height: 1px;
  background-color: var(--jade);
  border: none;
  margin-bottom: 40px;
  margin-left: 33%;
}

.profile {
  display: flex;
}

.statement {
  width: 280px;
  height: 169px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  display: grid;
  padding: 20px 12px 20px 26px;
  margin-bottom: 82px;
}

.statement div {
  font-size: 10px;
  font-weight: 400;
  color: var(--darkbl);
  line-height: 18px;
  text-align: start;
}

.profile {
  margin-top: 12px;
}

.profile div {
  margin-left: 7.5px;
}

.profile h5 {
  font-size: 9px;
  font-weight: 700;
  color: var(--darkbl);
  height: 13px;
}

.profile h6 {
  font-size: 6px;
  font-weight: 400;
  color: var(--darkbl);
  height: 15px;
}

.section {
  background-color: var(--sidebg);
  padding: 54px 47px 71px 48px;
}

.section h2 {
  color: var(--white);
  font-size: 18px;
  margin: 0px 0px 16px 0px;
}

.section p {
  color: var(--white);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0px 0px 24px 0px;
}

.section .bgwhite {
  background-color: var(--white);
  width: 240px;
  height: 32px;
  font-size: 10px;
  padding-left: 8px;
  margin-bottom: 8px;
  border: none;
}

.section button {
  width: 240px;
  height: 32px;
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

footer {
  background-color: var(--darkbl);
  padding: 65px 39px 42px 39px;
}

.contacts {
  display: grid;
  row-gap: 23px;
  margin-top: 36px;
  font-size: 16px;
  color: var(--white);
}

.contacts img {
  margin-right: 18px;
  padding-top: 5px;
}

.pages h5 {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}

.pages .mt32 {
  margin-top: 32px;
}

.forms h5 {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}

.forms {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .top {
    margin-top: 85px;
  }

  .top img {
    width: 166px;
    height: 49px;
    margin-left: 80px;
  }

  .top div {
    gap: 57px;
    margin-right: 80px;
  }

  .top div h3 {
    font-size: 16px;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 80px 0px 80px;
  }

  .hero img {
    width: 640px;
    height: 474px;
  }

  h1 {
    text-align: start;
    margin: 78px 13px 15px 0px;
    font-size: 40px;
    line-height: 60px;
  }

  .hero p {
    text-align: start;
    margin: 0px 55px 25px 0px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.53125px;
  }

  .button-combine {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .hero .button-combine .enter {
    width: 320px;
    height: 45px;
  }

  .hero button {
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 45px;
  }

  .button-combine {
    display: flex;
    gap: 16px;
  }

  .enter {
    margin: 0px 0px;
  }

  .hero2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 342px 80px 0px 80px;
  }

  .hero2 .img2 {
    width: 542px;
    height: 409px;
    margin-top: 100px;
  }

  .hero2 .text h2 {
    font-size: 40px;
    text-align: start;
    margin-bottom: 38px;
  }

  .hero2 .text p {
    font-size: 16px;
    margin: 0px 209px 16px 0px;
    text-align: start;
  }

  .hero2 .text .combine {
    margin-top: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 16px;
  }

  .hero2 .text .combine h4 {
    font-size: 16px;
    width: 152px;
  }

  .hero2 .text .combine div {
    margin-left: 0px;
    margin-top: 6px;
    margin-right: 20px;
    background-position: 50% 50%;
  }

  .hero2 .text .underline {
    width: 166px;
    height: 1px;
    background-color: var(--jade);
    border: none;
    margin-bottom: 45px;
    margin-left: 0px;
    margin-top: 4px;
  }

  .statement {
    width: 356px;
    height: 215px;
    padding: 12px 34px 26px 33px;
  }

  .statement div {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
  }

  .profile img {
    width: 32px;
    height: 32px;
  }

  .profile h5 {
    font-size: 11px;
  }

  .profile h6 {
    font-size: 8px;
  }

  .section {
    display: flex;
    padding: 100px 120px 85px 80px;
    gap: 227px;
  }

  .section .text h2 {
    text-align: start;
    font-size: 32px;
  }

  .section .text p {
    text-align: start;
    font-size: 16px;
    margin-bottom: 0px;
    width: 533px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }

  .section .enter {
    width: 480px;
    height: 48px;
    margin-bottom: 16px;
    font-size: 12px;
    padding-left: 22px;
    padding-top: 16px;
  }

  .section div {
    justify-content: start;
    align-items: start;
  }

  .section button {
    width: 200px;
    height: 48px;
    justify-self: start;
    align-items: start;
    font-size: 14px;
  }

  footer {
    padding: 92px 262px 86px 80px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  footer .botlogo {
    width: 135px;
    height: 39px;
  }

  footer .contacts {
    gap: 0px;
  }

  footer .phone {
    height: 40px;
  }
}
