@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

:root {
  --darkbl: #07043b;
  --blue: #2f65f8;
  --gray: #615f7e;
  --jade: #3da08f;
  --bg: #f8f8fe;
  --sidebg: #575988;
  --lighttext: #c0c0c0;
  --white: #ffffff;
}

body {
  background: var(--bg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 98px 24px;
}

h3 {
  font-size: 12px;
  color: var(--darkbl);
  font-weight: 400;
  font-family: Raleway;
}

.top div {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

h1 {
  font-size: 24px;
  color: var(--darkbl);
  font-weight: 700;
  line-height: 36px;
  margin: 40px 27px 24px 28px;
  text-align: center;
}

p {
  font-size: 14px;
  color: var(--darkbl);
  font-weight: 400;
  line-height: 21px;
  margin: 0px 43px 32px 36px;
  text-align: center;
}

.enter {
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  width: 304px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 400;
  font-family: "Raleway";
  padding-left: 21px;
  margin-bottom: 16px;
}

button {
  background-color: var(--blue);
  color: var(--white);
  width: 304px;
  height: 40px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  font-weight: 700;
  font-family: "Raleway";
  border: none;
  margin-bottom: 183px;
}

h2 {
  font-size: 16px;
  color: var(--darkbl);
  font-weight: 700;
  text-align: center;
  margin-top: 87px;
  font-family: "Raleway";
}

.never {
  font-size: 14px;
  color: var(--gray);
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  margin: 0px 35px 0px 20px;
}

.mt {
  margin-top: 24px;
}

.mtlow {
  margin-top: 16px;
}

.combine {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 12px;
  color: var(--jade);
  font-weight: 400;
}

.combine div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--jade);
  border: none;
  box-shadow: 0px 0px 2px rgba(61, 160, 143, 0.793507);
  margin-left: 9px;
  background-image: url(./resorces/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.underline {
  width: 130px;
  height: 1px;
  background-color: var(--jade);
  border: none;
  margin-bottom: 40px;
  margin-left: 33%;
}

.profile {
  display: flex;
}

.statement {
  width: 280px;
  height: 169px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
  display: grid;
  padding: 20px 12px 20px 26px;
  margin-bottom: 82px;
}

.quote {
  font-family: "Nunito Sans";
  font-size: 50px;
}

.statement div {
  font-size: 10px;
  font-weight: 400;
  color: var(--darkbl);
  line-height: 18px;
  text-align: start;
}

.profile {
  margin-top: 12px;
}

.profile div {
  margin-left: 7.5px;
}

.profile h5 {
  font-size: 9px;
  font-weight: 700;
  color: var(--darkbl);
}

.profile h6 {
  font-size: 6px;
  font-weight: 400;
  color: var(--darkbl);
}

.section {
  background-color: var(--sidebg);
  padding: 54px 47px 71px 48px;
}

.section h2 {
  color: var(--white);
  font-size: 18px;
  margin: 0px 0px 16px 0px;
}

.section p {
  color: var(--white);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0px 0px 24px 0px;
}

.section .bgwhite {
  background-color: var(--white);
  width: 240px;
  height: 32px;
  font-size: 10px;
  padding-left: 8px;
  margin-bottom: 8px;
  border: none;
}

.section button {
  width: 240px;
  height: 32px;
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

footer {
  background-color: var(--darkbl);
  padding: 65px 39px 42px 39px;
}

.contacts {
  display: grid;
  row-gap: 23px;
  margin-top: 36px;
  font-size: 16px;
  color: var(--white);
}

.contacts img {
  margin-right: 18px;
  padding-top: 5px;
}

.pages h5 {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}

.pages .mt32 {
  margin-top: 32px;
}

.forms h5 {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}

.forms {
  margin-top: 32px;
  margin-bottom: 32px;
}
